.vs/ProjectSettings.json
.vs/PythonSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Facial-Recognition-Enhanced/FileContentIndex/e3861b6b-956c-448c-8ca1-e3ef5c2d0258.vsidx
.vs/Facial-Recognition-Enhanced/FileContentIndex/read.lock
.vs/Facial-Recognition-Enhanced/v17/.wsuo
Test.py
/.vs/Facial-Recognition-Enhanced/FileContentIndex
/__pycache__
/.vs
